<html> 
<head>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../views/css/temp.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1><%= title %></h1>
	<a href="/">Home</a><br><br>
	    <form action="/login" method="post">
	      <div>
	        <label>Username:</label>
	        <input type="text" name="username" />
	        <br/>
	      </div>
	      <div>
	        <label>Password:</label>
	        <input type="text" name="password" />
	      </div>
	      <div>
	        <input type="submit" value="Login" />
	      </div>
	    </form>

	<div>
		Login with: <a href="#">Facebook</a>		
	</div>


	 Click <a href="/registration_view">here</a> to register.<br>
	 <!-- Click <a href="/logout">here</a> to logout. -->

	</body>
</html>